
.vscode/arduino.json
.vscode/c_cpp_properties.json
device-qr/main/.vscode/c_cpp_properties.json
device-qr/main/.vscode/c_cpp_properties.json
*.json
ESP_32/key.txt
device-qr/main/src/config/projectsKey.h
device-qr/main/src/API/scbConfig.h
device-qr/main_esp32/main_esp32.ino.esp32.bin
device-qr/main_esp32/src/config/projectsKey.h
device-qr/main_esp32/src/config/projectsKey.h
device-qr/build/*.*
device-qr/.DS_Store
device-qr/build/sketch/src/utils/xbm.h
